p{
    font-weight: bold;

}

ul{
    font-style: italic;
}
#Top{
    text-decoration: underline;
    font-size: 90px;
}


.important{
        font-style: :italic;
        color:#EFBCD5;
    
    }

body{
    background-color:#796465;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ol{
    text-decoration: underline;
} */